
// resources: https://scotch.io/starters/react/adding-sass-to-create-react-app-applications, https://create-react-app.dev/docs/adding-bootstrap/#using-a-custom-theme
@import url('https://fonts.googleapis.com/css?family=Spartan|Staatliches&display=swap');

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    // 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    // sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family: 'Spartan';
  font-size: 15px;
  // background-color: #D0FF97;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.plain-background {
  background-color: #D0FF97;
  height: 100vh;
  background-size: cover;
  background-repeat: repeat;

}

// this is to make the longer pages have background image to the bottom
.extra-masthead {
  height: 100%;
  overflow: hidden;
}

.homepage-masthead {
  background-image: url('./assets/homepage3-01.png');
}

.wakeup-masthead {
  background-image: url('./assets/wakeup3-01.png');
}

.intown-masthead {
  background-image: url('./assets/cafe2-01.png');
}

.roadworks-masthead {
  background-image: url('./assets/roadworks-01.png');
}

.nearoffice-masthead {
  background-image: url('./assets/paper-01-01.png');
}

.gotwo-masthead {
  background-image: url('./assets/gotwo-01.png')
}

.helpone-masthead {
  background-image: url('./assets/helpone-01.png')
}

.helptwo-masthead {
  background-image: url('./assets/helptwo-01.png')
}

.interview-masthead {
  background-image: url('./assets/interview-01.png')
}

.interview2-masthead {
  background-image: url('./assets/endinterview-01.png')
}

.card {
  background-color: transparent;
  border: none;
}

.main-title {
  font-size: 80px;
  font-family: 'Staatliches';
  color: #7372FF;
}

.small-title {
  font-family: 'Staatliches';
  font-size: 40px;
  color: #7372FF;
}

p {
  margin: 5px;
  padding: 0;
  color: #7372FF;
  font-weight: bold;
}

.test-border {
  border: 2px solid red;
}

.profile-image {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.business-image {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.add-margin {
  margin: 15px;
}

.interview-margin {
  margin: 5px;
}

.add-margin-more {
  margin: 25px;
}

.bold-text {
  font-weight: bolder;
  font-style: italic;
}

.no-border {
  border: none;
  padding: 0;
}

sub {
  font-size: 24px;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}